* {
    background-color: rgb(16, 43, 68);
    color: rgb(255, 255, 255);
}

body {
    height: 100vh;
}

#searchBar {
    width: 50%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
}

